@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    font-family: 'Bodoni Moda', serif;
    font-size:1.2rem;
}

.container{
    height:100%;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    background:linear-gradient(to right,#041308, #0b3317)
}

.left-text{
    /* to set the width we use it  */
    flex-basis:30%;
}


.heading{
    font-size:2rem;
    color:white;
    text-align:center;
}

.sub-heading{
    color:white;
    /* margin-top:10px;  */
    text-align:center;
}

.gallery{
    flex-basis:50%;
    display:grid;
    gap:8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}

.box{
    background-size:cover;
    background-position:top;
    color:white;

    /* we are using it for text the display in center of an image  */
    
    display:flex;
    justify-content: center;
    align-items: center;

    background-color:#222;
    background-blend-mode: hard-light;

}

#box1{
    grid-row-start:1 ;
    grid-row-end: 3;
}

#box2{
    grid-column-start: 2;
    grid-column-end: 4;
}

.row2{
    grid-row: span 2
}

/* This below condition is not working on Rain?  */

/* #box4{
    grid-row-start:  2;
    grid-row-end: auto;
} */

#box5{
    grid-column-start: 1;
    grid-column-end: 3;
}

.col-2 {
    grid-column: span 2;
}

#box7{
    grid-column-start: 2;
    grid-column-end: 4;
}

.box{
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.box:hover {
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}

/* Making Responsive */

/* media query for width <= 1024px */

@media (max-width:1024px){
    .container{
        display:flex;
        flex-direction: column;
        padding-block: 20px;
    }

    .left-text{
        padding-inline: 12px;
    }

    .box{
        display:flex;
        flex-direction: column;
        
       
    }

    .gallery{
        width: 100%;
        padding-inline: 12px;
        /* grid-auto-rows: 220px;  */
    }
    
}